<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link href="public/ico/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="styles/style.css" />

    <title>
        {{ site.name }}
    </title>

    <link rel="stylesheet" href="code-guide.css">
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Mono&subset=latin,cyrillic">

    <script>
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?61824da9bd703bfced2b7ed676e12f84";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
        })();
    </script>
    </head>

    <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% include js.html %}

    </body>
</html>
